@{
    ViewData["Title"] = "FEFA";
}
<h1>Mi presentacion personal</h1>
<p>
    Soy un estudiante de la facultad de Ingenieria Mecanica y Electrica (FIME) estudie en la
    preparatoria Industrial Pablo LIvas unidad poniente y algunos de los logros
    de mis estudios son algunas certificaciones con las que cuento sobre office y un titulo de tecnico mecanico automottriz
    me motiva el deseo de seguir adelante y en algun punto ayudar a mi familia.
</p>
<h2>Formacion academica</h2>
<ol>
    <li>Facultad de Ingenieria Mecanica y Electrica (FIME) cursando.</li>
    <li>Escuela Industrial y Preparatoria Tecnica Pablo Livas como tecnico en sistemas computacionales.</li>
    <li>Secundaria Técnica 96 Gonzalo Aguirre Beltrán como tecnico mecanico automotriz.</li>
</ol>
<h2>Mis pasatiempos.</h2>
<ul>
    <li>Videjuegos.</li>
    <li>Tecnologia.</li>
    <li>Mecanica automotriz.</li>
    <li>Configuracion, mantenimiento y reparacion de equipos de computo.</li>
</ul>
<h2>Fotografia de presentacion</h2>
