@model Prueba002.Models.dbModels.Carrito

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/carritocrear.css">

<h1 class="display-4">Crear Carrito</h1>

<h4>Carrito</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdProducto" class="control-label">Producto</label>
                <select asp-for="IdProducto" class="form-control" asp-items="ViewBag.IdProducto"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label">Usuario</label>
                <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label">Cantidad</label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

